applications:
  cinder-nimblestorage:
    options:
      san-ip: {{ TEST_NIMBLESTORAGE_SAN_IP }}
      san-login: {{ TEST_NIMBLESTORAGE_SAN_USERNAME }}
      san-password: {{ TEST_NIMBLESTORAGE_SAN_PASSWORD }}
